.preview
  width: 78%
  margin-left: 22%
  padding: 0px 0px

.preview-title 
  border-bottom: 1px solid #ccc
  padding: 0px 5px
  line-height: 1.7em
  margin: 0px
  vertical-align: middle

.preview-html 
  padding: 5px
  height: 100%;
  position: absolute;
  width: 77%;
  overflow: auto;

@media screen and (max-width: 1000px)
  .preview
    position: relative
    width: 100%
    margin-left: 0%
  .preview-html
    width: 100%
    position: relative