@import '../common'

.navbar-wrp
  position: fixed
  width: 20%
  height: 100%
  overflow: auto
  min-width: 200px
  border-right: 1px solid #ccc
  padding: 1%

.nav-table 
  width: 100%

.nav-cell
  position: relative

.nav-item
  cursor: pointer

.delete-button
  width: auto
  padding: 0px 5px
  position: absolute
  right: 0px
  bottom: 3px
  height: 20px
  font-size: 12px

@media screen and (max-width: 1000px)
  .navbar-wrp
    position: relative
    width: 100%
    height: auto
    overflow: auto
    border-right: none
    border-bottom: 1px solid #ccc
    padding: 1%